<p>Configure the clock...</p>

<form>
<p>
<input type="radio" ng-model="state.numberLevel" value="1" id="nl1"><label for="nl1">Hour only</label><br/>
<input type="radio" ng-model="state.numberLevel" value="2" id="nl2"><label for="nl2">Hours and minutes</label><br/>
<input type="radio" ng-model="state.numberLevel" value="3" id="nl3"><label for="nl3">Hours, minutes, seconds</label><br/>
</p>

<p>
<input type="checkbox" ng-model="state.showAMPM">Show AM/PM
</p>

<p>
<select ng-model="state.colorScheme">
    <option value="night">Night mode</option>
    <option value="day">Daytime</option>
    <option value="green" selected>Bright green</option>
</select>
</p>

<p>
    <a href="#/clock"><button>Done</button></a>
</p>

</form>
