<h2>Current Settings</h2>

<form>
<p>
<input type="radio" ng-model="state.numberLevel" value="1" id="nl1"><label for="nl1">Hour only</label><br/>
<input type="radio" ng-model="state.numberLevel" value="2" id="nl2"><label for="nl2">Hours and minutes</label><br/>
<input type="radio" ng-model="state.numberLevel" value="3" id="nl3"><label for="nl3">Hours, minutes, seconds</label><br/>
</p>

<p>
<input type="checkbox" ng-model="state.showAMPM">Show AM/PM
</p>

<p>
<input type="radio" ng-model="state.colorScheme" value="day" id="cs1"><label for="cs1">Daytime</label><br/>
<input type="radio" ng-model="state.colorScheme" value="evening" id="cs2"><label for="cs2">Evening</label><br/>
<input type="radio" ng-model="state.colorScheme" value="verydim" id="cs3"><label for="cs3">Late night</label><br/>
<input type="radio" ng-model="state.colorScheme" value="sunrise" id="cs4"><label for="cs4">Sunrise</label><br/>
<input type="radio" ng-model="state.colorScheme" value="green" id="cs5"><label for="cs5">Bright Green</label><br/>
</p>

<h2>Schedule</h2>

<table>
    <tr>
        <th>Time</th>
        <th>Colors</th>
    </tr>
    <tr ng-repeat="rule in state.rules">
        <td>
            <div class="control-group input-append">
              <input type="text" ng-model="rule.time" bs-timepicker>
            </div>
        </td>
        <td>{{rule.colorScheme}}</td>
    </tr>
</table>

<p>
    <a href="#/clock"><button>Done</button></a>
</p>

</form>
