<h2>Current Settings</h2>

<form>
<p>
<label class="radio control-label"><input type="radio" ng-model="state.numberLevel" value="1">Hour only </label>
<label class="radio control-label"><input type="radio" ng-model="state.numberLevel" value="2">Hours and minutes </label>
<label class="radio control-label"><input type="radio" ng-model="state.numberLevel" value="3">Hours, minutes, seconds </label>
</p>

<p>
<input type="checkbox" ng-model="state.showAMPM">Show AM/PM
</p>

<p>
<label class="radio control-label"><input type="radio" ng-model="state.colorScheme" value="day">Daytime</label>
<label class="radio control-label"><input type="radio" ng-model="state.colorScheme" value="evening">Evening</label>
<label class="radio control-label"><input type="radio" ng-model="state.colorScheme" value="verydim">Late night</label>
<label class="radio control-label"><input type="radio" ng-model="state.colorScheme" value="sunrise">Sunrise</label>
<label class="radio control-label"><input type="radio" ng-model="state.colorScheme" value="green">Bright Green</label>
</p>

<h2>Schedule</h2>

<table>
    <tr>
        <th>Time</th>
        <th>Colors</th>
    </tr>
    <tr ng-repeat="rule in state.rules">
        <td>
        <div class="control-group input-append">
          <input type="text" ng-model="rule.time" bs-timepicker>
            <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
            </div>
        </td>
        <td>{{rule.colorScheme}}</td>
    </tr>
</table>

<p>
    <a href="#/clock"><button>Done</button></a>
</p>

</form>
